*{
    background-color: #C1E1C1;
    color:white;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}

h1{
    
    font-size: 54px;
}

h2{
    font-size:36px;
}

ul{
    list-style-type: none;
    text-align: center;
}

li{
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 32px
}

a{
    color: white;
    text-align: center;
}

p{
    font-size: 36px;
}

img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}